services:
  flask_app:
    build:
      context: .
      dockerfile: multistage_Dockerfile_cc_6_1_cuda_12_1
    image: flask_app:latest
    command: gunicorn -w 1 -k eventlet -b 0.0.0.0:5000 start_app:app
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    ports:
      - "5000:5000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    volumes:
      - .:/app
      - ../docker_mount_directories/NEX_AI:/app/grey_matter 
    restart: always

  redis:
    image: redis:7
    ports: 
      - "6379:6379"
    volumes:
      - redis_data:/data

  celery_worker:
    image: flask_app:latest
    command: celery -A celery_worker.celery worker --loglevel=info
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    depends_on:
      - redis
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    volumes:
      - .:/app
      - ../docker_mount_directories/NEX_AI:/app/grey_matter
    restart: always


volumes:
  redis_data:
