--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu121

flask
flask_cors
flask_socketio
flask_wtf
eventlet
numpy
celery
opencv-python
redis
pandas
tqdm
PyYaml
matplotlib
seaborn
scipy
ultralytics
gunicorn
tensorboard
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
